<div class="conversation-container">
  <%=
    react_component(
        'MessageList',
        messages: ActiveModelSerializers::SerializableResource.new(@conversation.messages),
        conversation_id: @conversation.id
    )
  %>

  <div id="new-message-form">
    <%= form_for Message.new, remote: true, html: { class: 'form-inline' } do |f| %>
      <div id="new-message-inputs">
        <div class="panel panel-primary" id="new-message-editable-panel">
          <%= render partial: 'new_message', locals: { css_class: 'new-message-editable' }%>
        </div>
        <%= f.text_area :body, class: 'hidden new-message-body' %>
        <%= f.hidden_field :conversation_id, value: @conversation.id %>
        <%= f.submit 'Send', class: 'btn btn-primary', id: 'send-btn' %>
      </div>
    <% end %>
  </div>
</div>
